<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mission To Mars</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
  <div class="container">
    <div class="jumbotron text-center">
      <h1>Mission to Mars</h1>
      <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape New Data</a></p>
    </div>
    
  </div>
  
  <div class="container">
    <h3><b>Latest Mars News</b></h3>
    <h5><b>{{mission_data.News_Title}}</b></h5>

    <p>{{mission_data.News}}</p>
    
    </div>

    <div class="container">
        <div class="row"> 
          <!-- Left Image--> 
          <div class="col-lg-8 col-md-8 col-sm-12"> 
            <h3><b>Featured Images</b></h3>
            <img src={{mission_data.Featured_image_url}} alt="Featured_image" style="width:700px;height:400px;"> 
          </div>
          <div class = "col-sm-12 col-md-4">
            <div class="panel panel-default">
              <div class="panel-body">
              <h4><center><b>Mars Weather</b></center></h4>
              {{mission_data.Mars_Weather }}
              </div>
            </div>
            <br> 
              <div class = row>
                <h3>Mars Facts</h3> 
                <div style="max-width: 800px; max-height: 140px; font-size: 14px; margin-bottom: 100px;"> 
                {{ mission_data.Mars_facts|safe}} 
                </div>
              </div>
          </div>   
        </div> 
    </div>
  <!-- <div class="container">
      <div class="row"> 
          <h1><center><b>Mars Hemispheres</b></center></h1>
          <div class="col-lg-6 col-md-4 col-sm-6"> 
              <h3><center><b>Mars Hemispheres</b></center></h3>
              <img src={{mission_data.Hemispher_img}} alt="Featured_image" style="width:700px;height:400px;"> 
           </div>
      </div>
  </div> -->
  <h1 style="padding-top: 60px; margin-top: 50px; text-align: center;">Mars Hemispheres</h3> 
         <div class="card-deck">
            <hr> 
              <div class="col-md-12"> 
                   <div class="row"> 
                       {% for i in mission_data.Hemispher_img  %} 
                       <div class="col-md-6"> 
                           <div class="card text-white bg-dark" style="margin: 30px;"> 
                               <img class="card-img-top" src="{{ i.img_url}}" style="width:400px;height:400px;"/> 
                               <div class="card-body"> 
                                   <p class="card-text">{{ i.title }}</p> 
                               </div> 
                           </div> 
                       </div> 
                       {% endfor %} 
                   </div> 
               </div> 
           </div> 
  
    
</body>

</html>
